@import '../vars.scss';

.navbar-mobile-box{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    position: relative;

    .navbar-mobile {
        background: $navbar-bg;
        backdrop-filter: blur( 3px );
        -webkit-backdrop-filter: blur( 3px );
        display: flex;
        align-items: center;
        padding: 10px 1rem;
    }
}
@media (min-width: 576px) {
    .navbar-mobile-box{
        display: none;
    }
}
