@import "../App/vars.scss";

.projects {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  .wrapper{
    display: flex;
    flex-direction: column;
  }
  .link-row{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
  }
  @media (min-width: 576px) {
    .link-row{
      justify-content: flex-start;
    }
  }

  span{
    color: $green;
    font-weight: 700;
    padding-right: 1rem;
  }
  .screenshot{
    margin-top: 1rem;
    img{
      width: 100%;
      height: auto;
  
    }
  }

  .dashboard,
  .portfolio,
  .weather{
    display: flex;
    flex-direction: column;
  }
  // @media (min-width: 992px) {
  //   .dashboard,
  //   .portfolio,
  //   .weather{
  //     flex-direction: row;
  //   }
  //   .screenshot{
  //     margin-left: 1rem;
  //   }
  
  // }
}
