@import '../App/vars.scss';

.menu-light,
.menu-dark{
    display: flex;
    flex-direction: column;
    .link{
        font-weight: 700;
        display: flex;
        padding: 5px 10px;
        flex: 1;
        a:hover{
            color: $green;
        }
    }
}
.menu-light{
    color: $text-light;
}
.menu-dark{
    color: $text-light;
}

@media (min-width: 576px) {
    .menu-light,
    .menu-dark{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex: 1;
        .link{
            justify-content: center;
        }
    }
}
