@import '../App/vars.scss';

.star{
    position: absolute;
    top: 180px;
    left: 150px;
    z-index: 100;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: $green;
    filter: drop-shadow(0 0 2px $green) 
        drop-shadow(0 0 5px $green) 
        drop-shadow(0 0 8px $green)
        drop-shadow(0 0 11px $green)
        drop-shadow(0 0 16px $green)
    ;
}
.pulsar{
    position: absolute;
    top: 180px;
    left: 150px;
    z-index: 100;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: $green;
    animation: pulsar 3s linear infinite ;
    // animation: bolid 20s linear forwards, meteor 20s linear infinite;
}
@keyframes pulsar {
    0%{
        filter: drop-shadow(0 0 2px $green) 
            drop-shadow(0 0 5px $green); 
    }
    50%{
        filter: drop-shadow(0 0 2px $green) 
        drop-shadow(0 0 5px $green) 
        drop-shadow(0 0 8px $green)
        drop-shadow(0 0 11px $green)
        drop-shadow(0 0 16px $green)
        drop-shadow(0 0 22px $green);
    }
    100%{
        filter: drop-shadow(0 0 2px $green) 
            drop-shadow(0 0 5px $green);
    }
}

@keyframes bolid {
    from{
        left: 16px;
    }
    to{
        left: 1184px;
    }
}
@keyframes meteor {
    0%{
        top: 70px;
        left: 10px;
    }
    17.44%{
        top: 750px;
        left: 10px;
    }
    50.27%{
        top: 750px;
        left: 1190px;
    }
    67.75%{
        top: 70px;
        left: 1190px;
    }
    100%{
        top: 70px;
        left: 10px;
    }
}





