@import '../vars.scss';

#fixed-top{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    .wrapper-burger{
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: flex-end;
        .burger-box{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            .burger-icon{
                color: $carrot;
                font-size: 1.5rem;
                cursor: pointer;
            }
        }
        // @media (min-width: 576px) {
        //     .burger-box{
        //         display: none;
        //     }
        // }
    }
}