@import '../vars.scss';

.lang-button-light,
.lang-button-dark{
    width: 80px;
    border-radius: 3px;
    overflow: hidden;
    margin-right: 1rem;
    position: absolute;
    top: 0;
    left: 20px;
    .switcher-box{
        display: flex;
        justify-content: space-between;
        .switcher{
            width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            padding: 3px 0;
            font-weight: 700;
        }
        .shade-light{
            color: $lt-contr;
            transition: color 200ms linear 100ms;
        }
        .shade-dark{
            color: $dk-contr;
            transition: color 200ms linear 100ms;
        }
    }
}
.lang-button-light{
    color: $text-light;
}
.lang-button-dark{
    color: $text-dark;
}

@media (min-width: 576px) {
    .lang-button-light,
    .lang-button-dark{
        position: relative;
        left: 0;
    }
}

