@import '../vars.scss';

.lang-button-light{
    background-color: transparent;
}
.lang-button-dark{
    background-color: transparent;
}
.lang-button-light,
.lang-button-dark{
    color: #fff;
    width: 80px;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    overflow: hidden;
    margin-right: 1rem;
    .switcher-box{
        display: flex;
        justify-content: space-between;
        .switcher{
            width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            padding: 3px 0;
            font-weight: 700;
        }
        .shade-light{
            color: $lt-contr;
            transition: color 200ms linear 400ms;
        }
        .shade-dark{
            color: $dk-contr;
            transition: color 200ms linear 400ms;
        }
    }
    .slider-box{
        display: flex;
        .slider-light,
        .slider-dark{
            z-index: 1000;
            width: 40px;
            height: 5px;
            transition: margin-left 400ms linear;
        }
        .slider-light{
            background-color: $lt-contr;
        }
        .slider-dark{
            background-color: $dk-contr;
        }
    }
}


