@import '../App/vars.scss';

.lang-button{
    width: 120px;
    margin-right: 1rem;
    border: 1px solid #fff;
    border-radius: 5px;
    color: $text-light;
    .switcher-box{
        display: flex;
        justify-content: space-between;
        .switcher{
            width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            // padding: 3px 0;
            font-weight: 700;
            color: $text-light;
        }
        .active{
            color: $green;
            transition: color 200ms linear 100ms;
        }
    }
}
@media (min-width: 576px) {
    .lang-button{
        position: relative;
        left: 0;
    }
}

