@import '../vars.scss';

.link-box-light,
.link-box-dark{
    max-width: 160px; //==??
    display: flex;
    align-items: center;
    padding: 3px 4px;
    border-radius: 5px;
    .link-text{
        margin-left: 10px;
        color: green;
        font-weight: 700;
        font-size: 0.8rem;
    }
}
.link-box-light{
    box-shadow: $shadow-lt;
}
.link-box-dark{
    box-shadow: $shadow-dk;
}

@media (min-width: 576px) {
    .link-box-light,
    .link-box-dark{
        max-width: 180px;
        padding: 4px 8px;
        .link-text{
            font-size: 1rem;
            margin-left: 1rem;
        }
    }
}
