@import '../App/vars.scss';

.link-box{
    max-width: 160px;
    margin-top: 1rem; //==??
    display: flex;
    align-items: center;
    padding: 3px 4px;
    border-radius: 5px;
    background-color: $grey;
    transition: all 200ms ease;
    .arrow-down{
        transform: rotate(-90deg);
    }
    .link-text{
        color: $green;
        font-weight: 600;
        font-size: 0.8rem;
        margin-left: 10px;
    }
    &:hover{
        transform: scale(1.15);
    }
}
.false{
    min-width: 290px;
    justify-content: center;
    &:hover{
        transform: scale(1);
    }
    .icon{
        cursor: default;
        animation: beep 1s linear infinite;
    }
}
@keyframes beep {
    0%{
        color: $green;
    }
    50%{
        color: $dk-contr;
    }
    100%{
        color: $green;
    }
}
@media (min-width: 576px) {
    .link-box{
        max-width: 180px;
        padding: 4px 8px;
        .link-text{
            font-size: 1rem;
        }
    }
    .false{
        margin-left: 1rem;
    }
}
