@import '../vars.scss';

.summary {
    padding: 1rem 0;
    .wrapper{
        display: flex;
        flex-direction: column;
        .about-box{
            flex: 1;
            .about{ 
                font-weight: 600;
                font-weight: 400;
                text-align: left;
            }
        }
        .skills-box{
            flex: 1;
            .skills{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1rem;
                .tool{
                    position: relative;
                    .tool-text{
                        transition: all 200ms linear;
                        font-weight: 600;
                        box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
                        border-radius: 5px;
                        text-align: center;
                    }
                }
            }
            //===================================
            @media (min-width: 576px) {
                .about-box{
                    padding: 0 1rem 1rem 0;
                }
                .skills-box{
                    padding: 0 0 1rem 1rem;
                    .skills{
                        grid-template-columns: 1fr 1fr 1fr;
                    }
                }
            }
            @media (min-width: 756px) {
                .skills{
                    grid-template-columns: 1fr 1fr;
                }
            }
            @media (min-width: 992px) {
                .skills{
                    grid-template-columns: 1fr 1fr 1fr;
                }
            }
        }
    }
    @media (min-width: 756px) {
        .wrapper{
            flex-direction: row;
        }
    }

}

