@import '../vars.scss';

.theme-toggler{
    width: 25px;
    height: 25px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 20px;
    .moon-icon{
        color: $carrot;
    }
    .sun-icon{
        color: $carrot;
    }
}
@media (min-width: 576px) {
    .theme-toggler{
        position: relative;
        right: 0;
    }
}