@import '../vars.scss';

.theme-toggler{
    width: 25px;
    height: 25px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    cursor: pointer;
    .moon-icon{
        color: $carrot;
    }
    .sun-icon{
        color: $carrot;
    }
}
