@import '../vars.scss';

#fixed-top{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    .wrapper{
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        .navbar-light, .navbar-dark {
            background: $navbar-bg-lt;
            backdrop-filter: blur( 2px );
            -webkit-backdrop-filter: blur( 3px );
            display: flex;
            flex-direction: column;
            padding: 10px 1rem;
            transition: all 0.7s linear;
        }
        .navbar-light{
            background: $navbar-bg-lt;
        }
        .navbar-dark{
            background: $navbar-bg-dk;
        }

        @media (min-width: 576px) {
            .navbar{
                flex-direction: row;
            }
        }
    
    }
    
}
