@import '../vars.scss';

.navbar-box{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    // line-height: 40px;
    .navbar {
        background: $navbar-bg;
        backdrop-filter: blur( 3px );
        -webkit-backdrop-filter: blur( 3px );
        display: flex;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        padding: 10px 1rem;
        .link{
            color: #fff;
            font-weight: 500;

            flex: 1;
            text-align: center;
        }
    }
    
}


