@import "../reactor.scss";
$shad: #bebebe;
.app {
  background-color: $bg-neo;
  color: $color-main;
  scroll-behavior: smooth;
  position: relative;
  padding-top: 1rem;
  section{
    padding-bottom: $gut-1;
  }
  .subtitle{
    margin-bottom: 1rem;
  }
  .subtitle::after{
    content: '';
    width: 0%;
    height: 3px;
    border-radius: 1px;
    background-color: $carrot;
    animation-name: growLine;
    animation-duration: 4300ms;
    animation-delay: 400ms;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
  }
  @keyframes growLine {
    0%{ width: 0%; }
    85%{ width: 53%; }
    100%{ width: 50%; }
  }

  // =========== Navbar =======

  .navbar {
    position: sticky;
    top: 0;
    z-index: 1;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: space-between;
    height: 50px;
    line-height: 50px;
    li{
      text-transform: uppercase;
      transition: all 200ms linear;
      a{
        padding: 5px 10px;
        overflow: hidden;
        color: $color-main;
        box-shadow: 3px 3px 6px #bebebe,
        -3px -3px 6px #fff;
        border-radius: 5px;
        font-weight: 600;
        text-align: center;
      }
      a:hover{
        color: $carrot;
      }
    }
    .lang-button{
      .active{
        background-color: $carrot;
        color: $color-main;
      }
      .lang{
        font-weight: 500;
      }
      .lang:hover{
        color: $color-main;
      }
    }
  }

  // ====== Summary ======
  
  .summary {
    .title{
      text-align: center;
    }
  
    .info{
      .aboutme {
        margin-top: $gut-2;
        .text{ 
          box-shadow: 6px 6px 12px #bebebe,
          -6px -6px 12px #fff;
          border-radius: 5px;
          font-weight: 600;
          text-align: center;
          border-radius: 8px;
          font-weight: 400;
          text-align: left;
          padding: $gut-3;
        }
      }
      .skills {
        margin-top: $gut-2;
        .tech-skills{
          .tool{
            padding-bottom: $gut-3;
            p{
              transition: all 200ms linear;
              box-shadow: 3px 3px 6px $shad,
              -3px -3px 6px #fff;
              border-radius: 5px;
              font-weight: 600;
              text-align: center;
              padding: $gut-1 0;
            }
            p:hover{
              box-shadow: inset  3px 3px 6px #bebebe,
              inset -3px -3px 6px #fff;
              color: $carrot;
            }
          }
          .on-start{
            transform: translateY(20px);
            visibility: hidden;
            opacity: 0;
            animation-name: onStart;
            animation-duration: 1000ms;
            animation-timing-function: linear;
            animation-iteration-count: 1;
            animation-direction: normal;
            animation-fill-mode: forwards;
          }
          @keyframes onStart {
            0%{
              transform: translateY(20px);
              visibility: hidden;
              opacity: 0;
            }
            85%{
              transform: translateY(-7px);}
            100%{
              transform: translateY(0px);
              visibility: visible;
              opacity: 1;
            }
          }

        }
      }
  
    }
  }

//  ======== Projects ======
  .projects{
    margin-top: 20px;
    .title{
      text-align: center;
    }
    span{
      color: $color-main;
      font-weight: 800;
    }
    .link-box{
      justify-content: space-between;
      .link{
        box-shadow:inset  3px 3px 6px #bebebe,
        inset -3px -3px 6px #fff;
        border-radius: 5px;

        font-weight: 600;
        text-align: center;
        color: $color-main;
        padding: $gut-1 $gut-2;
        margin-bottom: $gut-2;
      }
      .link:hover{
        color: $carrot;
      }
    }
    .portfolio{
      box-shadow: 6px 6px 12px #bebebe,
      -6px -6px 12px #fff;
      border-radius: 8px;
  
    }
    .user{
      padding-bottom: $gut-3;
      box-shadow: 6px 6px 12px #bebebe,
      -6px -6px 12px #fff;
      border-radius: 8px;
  
      .user-screenshot{
        background-image: url('../assets/Screenshot1.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 100%;
        min-height: 600px;
        border-radius: $gut-1;
        margin: 1rem 0;
      }
    }
    .weather{
      box-shadow: 6px 6px 12px #bebebe,
      -6px -6px 12px #fff;
      border-radius: 8px;
  
      padding-bottom: $gut-3;
      .weather-screenshot{
        min-height: 300px;
        background-color: #ccc;
        border-radius: $gut-1;
      }
    }
  }

  // ====  Contacts  =================

  .contacts{
    color: $color-main;
    .col-10{
      font-size: 16px;
      text-overflow: clip;
    }
    a{
      color: inherit;
    }
    .viber-icon{
      width: 20px;
      height: 20px;
      color: #fff;
      background-image: url('../assets/whatsapp.png');
      background-size: cover;
    }

    .linkedin-icon{
      width: 20px;
      height: 20px;
      background-image: url('../assets/linkedin.png');
      background-size: cover;
    }

    .gmail-icon{
      width: 20px;
      height: 20px;
      background-image: url('../assets/email.png');
      background-size: cover;
    }

    .git-hub-icon{
      width: 20px;
      height: 20px;
      background-image: url('../assets/github.png');
      background-size: cover;
    }
  
  }


  .footer{
    text-align: center;
  }
}


