@import "../reactor.scss";

.portfolio-app {
  position: relative;
  .app {
    background-color: $bg-dark;
    color: $color-light;
    padding-top: 40px;
    .footer {
      text-align: center;
      padding: 1rem;
    }
  }
}
