@import '../reactor.scss';
// ====  Contacts  =================

.contacts{
    color: $color-main;
    
        background-color: rgba(255,255,255,0.06);
        border: 1px solid rgba(255,255,255,0.1);
        border-radius: 15px;
        padding: 32px;
        backdrop-filter: blur(10px);
    .col-10{
        font-size: 16px;
        text-overflow: clip;
    }
    a{
        color: inherit;
    }
    .viber-icon{
        width: 20px;
        height: 20px;
        color: #fff;
        background-image: url('../assets/whatsapp.png');
        background-size: cover;
    }
    .linkedin-icon{
        width: 20px;
        height: 20px;
        background-image: url('../assets/linkedin.png');
        background-size: cover;
    }
    .gmail-icon{
        width: 20px;
        height: 20px;
        background-image: url('../assets/email.png');
        background-size: cover;
    }
    .git-hub-icon{
        width: 20px;
        height: 20px;
        background-image: url('../assets/github.png');
        background-size: cover;
    }

}

