@import '../reactor.scss';


.navbar {
    position: sticky;
    top: 0;
    z-index: 1;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: space-between;
    height: 50px;
    line-height: 50px;
    li{
        text-transform: uppercase;
        transition: all 200ms linear;
        a{
        padding: 5px 10px;
        overflow: hidden;
        color: $color-main;
        box-shadow: 3px 3px 6px #bebebe,
        -3px -3px 6px #fff;
        border-radius: 5px;
        font-weight: 600;
        text-align: center;
        }
        a:hover{
        color: $carrot;
        }
    }
    .lang-button{
        color: $color-main;
        font-weight: 500;

        .active{
        color: $carrot;
        padding: 0 $gut-1;
        }
        .not-active{
        color: $color-main;
        padding: 0 $gut-1;
        }
    }
}
