@import '../reactor.scss';

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
    cursor: pointer;
    height: 50px;
    line-height: 50px;

    background-color: green;
    li{
        transition: all 200ms linear;
        text-align: center;
        a{
            position: relative;
            width: 130px;
            text-transform: uppercase;
            padding: 0 10px;
            color: $color-main;
            // border: 1px solid rgba(255,255,255,0.1);
            // border-radius: 5px;
            text-align: center;
        }
        a:hover:after{
            animation: growBottom 500ms linear forwards;
        }
        a:after{
            content: '';
            pointer-events: none;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            height: 100%;
            background-color: rgba(255,255,255,0.1);
        }
        @keyframes growBottom {
            0%{ width: 0%; }
            100%{ width: 100%; }
        }    
    }

    .lang-button{
        color: $color-main;
        font-weight: 500;

        .active{
        color: $carrot;
        padding: 0 $gut-1;
        }
        .not-active{
        color: $color-main;
        padding: 0 $gut-1;
        }
    }
}
