@import '../reactor.scss';

.navbar {
    padding: 0;
    font-weight: 500;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
    cursor: pointer;
    line-height: 40px;
    li{
        display: flex;
        justify-content: center;
        transition: all 200ms linear;
        position: relative;
        a{
            text-transform: uppercase;
            padding: 0 10px;
            text-align: center;
        }
        a:hover{
            color: $carrot;
        }
        a:hover::after{
            animation: growBottom 500ms linear forwards;
        }
        a::after{
            content: '';
            pointer-events: none;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            height: 100%;
            background-color: rgba(255,255,255,0.3);
        }
        @keyframes growBottom {
            0%{ width: 0%; }
            100%{ width: 100%; }
        }    
    }

    .lang-button{
        .active{
        color: $carrot;
        padding: 0 $gut-1;
        }
        .not-active{
        padding: 0 $gut-1;
        }
    }
    .sun-moon{
        display: flex;
        align-items: center;
    }
}
