@import '../reactor.scss';


.projects{
    padding-top: $gut-3;
    padding-bottom: $gut-3;
    .title{
        text-align: center;
    }
    .subtitle{
        margin-bottom: 1rem;
    }
    .subtitle::after{
        content: '';
        width: 0%;
        height: 3px;
        background-color: $carrot;
        animation-name: growLine;
        animation-duration: 4300ms;
        animation-delay: 400ms;
        animation-timing-function: linear;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: forwards;
    }
    @keyframes growLine {
        0%{ width: 0%; }
        85%{ width: 53%; }
        100%{ width: 50%; }
    }    

    span{
        color: $color-main;
        font-weight: 800;
    }
    .link-box{
        justify-content: space-between;
        .link{
        box-shadow:inset  3px 3px 6px #bebebe,
        inset -3px -3px 6px #fff;
        border-radius: 5px;

        font-weight: 600;
        text-align: center;
        color: $color-main;
        padding: $gut-1 $gut-2;
        margin-bottom: $gut-2;
        }
        .link:hover{
        color: $carrot;
        }
    }
    .portfolio{
        // box-shadow: 6px 6px 12px #bebebe,
        // -6px -6px 12px #fff;
        // border-radius: 8px;

    }
    .user{
        // padding-bottom: $gut-3;
        // box-shadow: 6px 6px 12px #bebebe,
        // -6px -6px 12px #fff;
        // border-radius: 8px;
        .user-screenshot{
            background-image: url('../assets/Screenshot1.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 100%;
            min-height: 600px;
            border-radius: $gut-1;
            margin: 1rem 0;
        }
    }
    .weather{
        // box-shadow: 6px 6px 12px #bebebe,
        // -6px -6px 12px #fff;
        // border-radius: 8px;
        padding-bottom: $gut-3;
        .weather-screenshot{
            min-height: 300px;
            background-color: #ccc;
            border-radius: $gut-1;
        }
    }
} 
