/* ===================  VARIABLES  ================*/

$font-main: "Lato", Helvetica, sans-serif;
$font-second: "Roboto", sans-serif;
$font-three: "Nunito", sans-serif;

$dark-grey: #333447;
$border-col: rgba(255, 255, 255, 0.9);
$carrot: #f85904;

$bg-dark: #202124;
$bg-light: #ffffff;

$color-dark: #474747;
$color-light: #ffffff;

$gutter: 1rem;
$gutter-half: 0.5rem;

$gut-1: calc(1rem * 0.25);
$gut-2: calc(1rem * 0.5);
$gut-3: 1rem;
$gut-4: calc(1rem * 1.5);
$gut-5: calc(1rem * 3);
$text-dark: #212529;
$text-light: #ffffff;
$text-carrot: #f85904;

$bg-light: #ffffff;
$bg-dark: #252526;
$bg-hover: rgba(0,0,0,0.1);
$bg-active: rgba(0,0,0,0.2);

/* Light Theme Colors*/
$lt-fluid: #ffffff;
$lt-app: #e2e2e2;
$lt-all-box-bg: #ffffff;
$lt-all-box-text: #252526;
$lt-hover: rgba(0,0,0,0.1);
$lt-active: rgba(0,0,0,0.2);
$lt-contr: #f85904;
$lt-box-shadow: 0px 0px 15px -8px rgba(0,0,0,0.94);
$lt-user-hover: rgba(255,255,255,0.6);
/* Dark Theme Colors*/
$dk-fluid: #333333;
$dk-app: #272727;
$dk-all-box-bg: #333333;
$dk-all-box-text: #f1f3f4;
$dk-hover: rgba(255,255,255,0.1);
$dk-active: rgba(255,255,255,0.2);
$dk-contr: #f85904;
$dk-box-shadow: 0px 0px 15px -8px rgba(255,255,255,0.94);
$dk-user-hover: rgba(255,255,255,0.2);

/*==========================TOTALL STYLES=====================*/

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
/* ====================== RESET ========================*/

body,
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* ======================  HTML * BODY  ==========================*/

html,
body {
    font-size: 14px;
    font-family: $font-main;
    min-height: 100%;
    font-weight: 300;
    color: $color-dark;
    width: 100%;
    min-height: 100vh;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
}

