@import './index.scss';

.container-fluid{
    background-color: $bg-dark;
    width: 100%;
    .container{
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
        line-height: 1.5;
        color: $text-light;
        z-index: 150;
    }
}
