@import './index.scss';

#fixed-top{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    .fixed-wrapper{
        max-width: 1200px;
        margin: 0 auto;
        overflow: hidden;
    }
}