/* ===================  VARIABLES  ================*/

$font-main: "Rubik", sans-serif;
$font-second: "Roboto", sans-serif;
$font-three: "Nunito", sans-serif;

$color-dark: #474747;
$color-light: #ffffff;
$navbar-bg-lt: rgba( 0, 0, 0, 0.5 );
$navbar-bg-dk: rgba( 255, 255, 255, 0.3 );
$text-dark: #212529;
$text-light: #ffffff;
$carrot: #f85904;

$shadow-lt: 0px 0px 6px rgba(0,0,0,0.3);
$shadow-dk:  0px 0px 6px rgba(255,255,255,0.3);
// $shadow-big-lt: 0px 0px 10px rgba(0,0,0,0.3);
// $shadow-big-dk:  0px 0px 10px rgba(255,255,255,0.3);

$bg-dark: #1d1d1d;
$dk-contr: #f85904;
$green: #08fdd8;
$grey: #262626;

/*==========================TOTALL STYLES=====================*/

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Rubik:wght@400;500;600&display=swap');
body,
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* ======================  HTML * BODY  ==========================*/

html,
body {
    font-family: $font-main;
    min-height: 100%;
    font-weight: 400;
    color: $color-dark;
    width: 100%;
    min-height: 100vh;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
}
//======= GLOBAL CLASSES ==================
.icon {
    color: $green;
    font-size: 1.3rem;
    cursor: pointer;
}
.not-link{
    cursor: default;
}
.title {
    text-align: center;
}

// ======== deep-title and his animation ==============
.g-deep-title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 1;
    color: $grey;
    text-transform: uppercase;
    font-size: 16vw;
    line-height: 0.9;
    animation: showTitle 3s linear 1 forwards;
}
@media (min-width: 1400px) {
    .g-deep-title{
        font-size: 200px;
    }
}
@keyframes showTitle{
    from{
        opacity: 0;
        filter: blur(15px);
    }
    to{
        opacity: 1;
        filter: blur(3px);
    }
}

//================== animation growLine ====================
.g-subtitle {
    padding: 1rem 0;
}

.g-subtitle::after{
    content: '';
    display: flex;
    animation-name: growLine;
    animation-duration: 4300ms;
    animation-delay: 400ms;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    width: 0%;
    height: 2px;
    border-radius: 1px;
    background-color: $green;
}
@keyframes growLine {
    0%{ width: 0%; }
    95%{ width: 83%; }
    100%{ width: 80%; }
}

// ============  animation onStart ===================
.on-start{
    animation-name: onStart;
    animation-duration: 1000ms;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    transform: translateY(20px);
    visibility: hidden;
    opacity: 0;
}
@keyframes onStart {
    0%{
        transform: translateY(20px);
        visibility: hidden;
        opacity: 0;
    }
    85%{
        transform: translateY(-7px);}
    100%{
        transform: translateY(0px);
        visibility: visible;
        opacity: 1;
    }
}
//===============================
ul li {
    list-style: none;
}
a {
    color: inherit;
    text-decoration: underline;
}
a:hover {
    color: #0a58ca;
    text-decoration: none;
}
a,
a:visited {
    text-decoration: none;
}
a:focus,
a:active {
    outline: none;
}




