@import './index.scss';

.link-box{
    max-width: 160px;
    margin-left: 1rem; 
    display: flex;
    align-items: center;
    padding: 3px 4px;
    border-radius: 5px;
    border: 2px solid $green;
    background-color: transparent;
    transition: all 200ms ease;
    .icon {
        color: $green;
        font-size: 1.3rem;
        cursor: pointer;
    }
    
    .link-text{
        color: $green;
        font-weight: 600;
        font-size: 0.8rem;
        margin-left: 10px;
    }
    &:hover{
        transform: scale(1.15);
    }
}
