@import './index.scss';

.projects {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-top: 60px;
}

.pet-project{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    .g-subtitle{
        position: relative;
    }
    .header{
        color: $green;
    }
    .discription{
        width: 100%;
    }
    .port-github-link{
        width: 100%;
        display: flex;
        align-items: center;
        padding: 1rem 0.5rem;
    }
    .grids{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        .grid-left{
            display: flex;
            flex-direction: column;
            .project-links{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-around;
                padding: 1rem 0.5rem;
            }
            .tools{
                width: 100%;
                .header{
                    color: $green;
                }
            }
        }
        .image{
            max-width: 100%;
            position: relative;
            margin-top: 1rem;
            overflow: hidden;
            img{
                width: 100%;
                object-fit: cover;
                z-index: 10;
            }
        }
        .collage{
            max-width: 100%;
            position: relative;
            margin-top: 1rem;
            overflow: hidden;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 10px;
            img{
                width: 100px;
                object-fit: contain;
                z-index: 10;
            }
        }

    }
    @media (min-width: 450px) {
        .grids{
            .collage{
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        }
    }
    @media (min-width: 580px) {
        .grids{
            .collage{
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            }
        }
    }
    @media (min-width: 690px) {
        .grids{
            .collage{
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            }
        }
    }
    @media (min-width: 800px) {
        .grids{
            .collage{
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            }
        }
    }

    @media (min-width: 1024px) {
        .grids{
            grid-template-columns: 1fr 1fr;
            .image{
                margin-top: 0;
            }
        }
    }
}
