@import '../vars.scss';

.tooltip{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    opacity: 0;
    transition: opacity 300ms linear;
    max-width: 300px;
    padding: 1rem;
    // border-radius: 3px;
    background-color: yellow;
    box-shadow: 0px 0px 5px 10px rgba(0,0,0,0.1);
    .tooltip-text{
        color: green;
        word-wrap: break-word; //==========???
    }
}

