
#root{
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    background-color: #ccc;
    background-image: url('./assets/webpack.png');
    background-size: contain;
    background-repeat:no-repeat ;
    padding-top: 50px;
    h1{
        margin: 0 auto;
        width: 50%;
        padding: 1.5rem;
        background-color: #ccc;
        border-radius: 0.5rem;
        color: blue;
    }
}







