/*==========================TOTALL STYLES=====================*/

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/* ===================  VARIABLES  ================*/

$font-main: "Lato", Helvetica, sans-serif;
$font-second: "Roboto", sans-serif;
$font-three: "Nunito", sans-serif;

$dark-grey: #333447;
$border-col: rgba(255, 255, 255, 0.9);
$carrot: #f85904;

$bg-dark: #202124;
$bg-light: #ffffff;

$color-dark: #474747;
$color-light: #ffffff;

$gutter: 1rem;
$gutter-half: 0.5rem;

$gut-1: calc(1rem * 0.25);
$gut-2: calc(1rem * 0.5);
$gut-3: 1rem;
$gut-4: calc(1rem * 1.5);
$gut-5: calc(1rem * 3);

/* ====================== RESET ========================*/

body,
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* ======================  HTML * BODY  ==========================*/

html,
body {
  font-size: 14px;
  font-family: $font-main;
  min-height: 100%;
  font-weight: 300;
  color: $color-dark;
  width: 100%;
  min-height: 100vh;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

/*=========================GREED STYLING====================*/
.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm,
.container-xs {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  // padding: $gutter;
  padding-right: $gut-2;
  padding-left: $gut-2;
}
.wrapper {
  width: 100%;
  padding: 0;
  margin: 0;
}
.flex-column {
  display: flex;
  flex-direction: column;
  flex: 1 0 0%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 100%;
  width: 100%;
  margin-top: 0;
  // margin-right: -$gutter-half;
  // margin-left: -$gutter-half;

  // border: 1px solid green;
}
.row > * {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: $gutter-half;
  padding-left: $gutter-half;
  margin-top: 0;
}

.col {
  flex: 1 0 0%;
}
.col-auto {
  flex: 0 0 auto;
  width: auto;
}
.col-1 {
  flex: 0 0 auto;
  width: 8.333333%;
}
.col-2 {
  flex: 0 0 auto;
  width: 16.666667%;
}
.col-3 {
  flex: 0 0 auto;
  width: 25%;
}
.col-4 {
  flex: 0 0 auto;
  width: 33.333333%;
}
.col-5 {
  flex: 0 0 auto;
  width: 41.666667%;
}
.col-6 {
  flex: 0 0 auto;
  width: 50%;
}
.col-7 {
  flex: 0 0 auto;
  width: 58.333333%;
}
.col-8 {
  flex: 0 0 auto;
  width: 66.666667%;
}
.col-9 {
  flex: 0 0 auto;
  width: 75%;
}
.col-10 {
  flex: 0 0 auto;
  width: 83.333333%;
}
.col-11 {
  flex: 0 0 auto;
  width: 91.666667%;
}
.col-12 {
  flex: 0 0 auto;
  width: 100%;
}
.col-xs,
.col-sm,
.col-md,
.col-lg,
.col-xl,
.col-xxl {
  display: flex;
  flex: 0 0 100%;
  width: 100%;
}

.row-cols-auto > * {
  flex: 0 0 auto;
  width: auto;
}
.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}
.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}
.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.333333333%;
}
.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}
.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}
.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

/* **********************  MEDIA-QUERYS  *******************************/

/* ================ xs .col- mobile portrite =================*/
@media (max-width: 575.98px) {
  html,
  body {
    font-size: 14px;
  }
  .container-xs {
    max-width: auto;
  }
}
/* ================== .col-sm- mobile landscape ==========*/
@media (min-width: 576px) {
  html,
  body {
    font-size: 15px;
  }
  .container-sm,
  .container {
    max-width: 540px;
  }
  .col-sm {
    flex: 1 0 0%;
  }
  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.666667%;
  }
}

/* ================== .col-md- mobile landscape ==========*/
@media (min-width: 768px) {
  html,
  body {
    font-size: 16px;
  }
  .container-md,
  .container-sm,
  .container {
    max-width: 720px;
  }
  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.333333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.666667%;
  }
}

/* ================== .col-lg- tablet =====================*/
@media (min-width: 992px) {
  html,
  body {
    font-size: 17px;
  }
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 960px;
  }
  .col-lg {
    flex: 1 0 0%;
  }
  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.333333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.666667%;
  }
}

/* ==================.col-xl- big monitors ================*/
@media (min-width: 1200px) {
  html,
  body {
    font-size: 18px;
  }
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1140px;
  }
  .col-xl {
    flex: 1 0 0%;
  }
  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xl-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.333333%;
  }
  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.666667%;
  }
}

/* ================.col-xxl- very big monitors ============*/
@media (min-width: 1400px) {
  html,
  body {
    font-size: 19px;
  }
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1320px;
  }
  .col-xxl {
    flex: 1 0 0%;
  }
  .col-xxl-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.333333%;
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.666667%;
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.333333%;
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.666667%;
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.333333%;
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.666667%;
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.333333%;
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.666667%;
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xxl-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.333333%;
  }
  .row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.666667%;
  }
}

.offset-1 {
  margin-left: 8.33333333%;
}

.offset-2 {
  margin-left: 16.66666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.33333333%;
}

.offset-5 {
  margin-left: 41.66666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.33333333%;
}

.offset-8 {
  margin-left: 66.66666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.33333333%;
}

.offset-11 {
  margin-left: 91.66666667%;
}

.g-0,
.gx-0 {
  padding-left: 0;
  padding-right: 0;
}
.gy-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.g-1,
.gx-1 {
  padding-left: $gut-1;
  padding-right: $gut-1;
}
.g-1,
.gy-1 {
  padding-top: $gut-1;
  padding-bottom: $gut-1;
}

.g-2,
.gx-2 {
  padding-left: $gut-2;
  padding-right: $gut-2;
}
.g-2,
.gy-2 {
  padding-top: $gut-2;
  padding-bottom: $gut-2;
}

.g-3,
.gx-3 {
  padding-left: $gutter;
  padding-right: $gutter;
}
.g-3,
.gy-3 {
  padding-top: $gutter;
  padding-bottom: $gutter;
}

.g-4,
.gx-4 {
  padding-left: $gut-4;
  padding-right: $gut-4;
}
.g-4,
.gy-4 {
  padding-top: $gut-4;
  padding-bottom: $gut-4;
}

.g-5,
.gx-5 {
  padding-left: $gut-5;
  padding-right: $gut-5;
}
.g-5,
.gy-5 {
  padding-top: $gut-5;
  padding-bottom: $gut-5;
}

.order-first {
  order: -1 !important;
}

.order-0 {
  order: 0 !important;
}

.order-1 {
  order: 1 !important;
}

.order-2 {
  order: 2 !important;
}

.order-3 {
  order: 3 !important;
}

.order-4 {
  order: 4 !important;
}

.order-5 {
  order: 5 !important;
}

.order-last {
  order: 6 !important;
}
.m-0 {
  margin: 0 !important;
}

.m-1 {
  margin: $gut-1 !important;
}

.m-2 {
  margin: $gut-2 !important;
}

.m-3 {
  margin: $gut-3 !important;
}

.m-4 {
  margin: $gut-4 !important;
}

.m-5 {
  margin: $gut-5 !important;
}

.m-auto {
  margin: auto !important;
}

.mx-0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.mx-1 {
  margin-right: $gut-1 !important;
  margin-left: $gut-1 !important;
}

.mx-2 {
  margin-right: $gut-2 !important;
  margin-left: $gut-2 !important;
}

.mx-3 {
  margin-right: $gut-3 !important;
  margin-left: $gut-3 !important;
}

.mx-4 {
  margin-right: $gut-4 !important;
  margin-left: $gut-4 !important;
}

.mx-5 {
  margin-right: $gut-5 !important;
  margin-left: $gut-5 !important;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.my-1 {
  margin-top: $gut-1 !important;
  margin-bottom: $gut-1 !important;
}

.my-2 {
  margin-top: $gut-2 !important;
  margin-bottom: $gut-2 !important;
}

.my-3 {
  margin-top: $gut-3 !important;
  margin-bottom: $gut-3 !important;
}

.my-4 {
  margin-top: $gut-4 !important;
  margin-bottom: $gut-4 !important;
}

.my-5 {
  margin-top: $gut-5 !important;
  margin-bottom: $gut-5 !important;
}

.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: $gut-1 !important;
}

.mt-2 {
  margin-top: $gut-2 !important;
}

.mt-3 {
  margin-top: $gut-3 !important;
}

.mt-4 {
  margin-top: $gut-4 !important;
}

.mt-5 {
  margin-top: $gut-5 !important;
}

.mt-auto {
  margin-top: auto !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mr-1 {
  margin-right: $gut-1 !important;
}

.mr-2 {
  margin-right: $gut-2 !important;
}

.mr-3 {
  margin-right: $gut-3 !important;
}

.mr-4 {
  margin-right: $gut-4 !important;
}

.mr-5 {
  margin-right: $gut-5 !important;
}

.mr-auto {
  margin-right: auto !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: $gut-1 !important;
}

.mb-2 {
  margin-bottom: $gut-2 !important;
}

.mb-3 {
  margin-bottom: $gut-3 !important;
}

.mb-4 {
  margin-bottom: $gut-4 !important;
}

.mb-5 {
  margin-bottom: $gut-5 !important;
}

.mb-auto {
  margin-bottom: auto !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-1 {
  margin-left: $gut-1 !important;
}

.ml-2 {
  margin-left: $gut-2 !important;
}

.ml-3 {
  margin-left: $gut-3 !important;
}

.ml-4 {
  margin-left: $gut-4 !important;
}

.ml-5 {
  margin-left: $gut-5 !important;
}

.ml-auto {
  margin-left: auto !important;
}

.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: $gut-1 !important;
}

.p-2 {
  padding: $gut-2 !important;
}

.p-3 {
  padding: $gut-3 !important;
}

.p-4 {
  padding: $gut-4 !important;
}

.p-5 {
  padding: $gut-5 !important;
}

.px-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.px-1 {
  padding-right: $gut-1 !important;
  padding-left: $gut-1 !important;
}

.px-2 {
  padding-right: $gut-2 !important;
  padding-left: $gut-2 !important;
}

.px-3 {
  padding-right: $gut-3 !important;
  padding-left: $gut-3 !important;
}

.px-4 {
  padding-right: $gut-4 !important;
  padding-left: $gut-4 !important;
}

.px-5 {
  padding-right: $gut-5 !important;
  padding-left: $gut-5 !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.py-1 {
  padding-top: $gut-1 !important;
  padding-bottom: $gut-1 !important;
}

.py-2 {
  padding-top: $gut-2 !important;
  padding-bottom: $gut-2 !important;
}

.py-3 {
  padding-top: $gut-3 !important;
  padding-bottom: $gut-3 !important;
}

.py-4 {
  padding-top: $gut-4 !important;
  padding-bottom: $gut-4 !important;
}

.py-5 {
  padding-top: $gut-5 !important;
  padding-bottom: $gut-5 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-1 {
  padding-top: $gut-1 !important;
}

.pt-2 {
  padding-top: $gut-2 !important;
}

.pt-3 {
  padding-top: $gut-3 !important;
}

.pt-4 {
  padding-top: $gut-4 !important;
}

.pt-5 {
  padding-top: $gut-5 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pr-1 {
  padding-right: $gut-1 !important;
}

.pr-2 {
  padding-right: $gut-2 !important;
}

.pr-3 {
  padding-right: $gut-3 !important;
}

.pr-4 {
  padding-right: $gut-4 !important;
}

.pr-5 {
  padding-right: $gut-5 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-1 {
  padding-bottom: $gut-1 !important;
}

.pb-2 {
  padding-bottom: $gut-2 !important;
}

.pb-3 {
  padding-bottom: $gut-3 !important;
}

.pb-4 {
  padding-bottom: $gut-4 !important;
}

.pb-5 {
  padding-bottom: $gut-5 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pl-1 {
  padding-left: $gut-1 !important;
}

.pl-2 {
  padding-left: $gut-2 !important;
}

.pl-3 {
  padding-left: $gut-3 !important;
}

.pl-4 {
  padding-left: $gut-4 !important;
}

.pl-5 {
  padding-left: $gut-5 !important;
}

/*======Обнуление Normalize CSS ========*/
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}
p,
div,
span {
  font-size: 1rem;
}
hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 1;
}

:focus,
:active {
  outline: none;
}
a {
  color: inherit;
  text-decoration: underline;
}
a:hover {
  color: #0a58ca;
  text-decoration: none;
}
a,
a:visited {
  text-decoration: none;
}
a:focus,
a:active {
  outline: none;
}

button,
input,
optgroup,
select,
textarea {
  border-radius: 0;
  font-size: 100%; /* 1 */
  margin: 0; /* 2 */
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: inline-block;
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
}

ul li {
  list-style: none;
}
img,
svg {
  vertical-align: middle;
}
img {
  border-style: none;
}
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1rem; /* 2 */
}
nav,
footer,
header,
aside {
  display: block;
}
small {
  font-size: 0.875em;
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
