@import '../App/vars.scss';

.cursor{
    position: absolute;
    top: 80px;
    left: 150px;
    z-index: 100;
    width: 100px;
    height: 100px;
    border: 1px solid white;
    filter: blur(0px);
}