@import "../vars.scss";

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .box {
    display: flex;
    padding: 0.25rem 0.5rem;
    width: 100%;
    transition: all 200ms linear;
    &:hover{
      color: inherit;
      box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
      border-radius: 8px;
    }
    p {
        padding-left: 1rem;
    }
  }
}
@media (min-width: 576px) {
  .contacts{
    flex-direction: row;
    flex-wrap: wrap;
    .box{
      width: 50%;
    }
  }
}
@media (min-width: 992px) {
  .contacts{
    flex-direction: row;
    .box{
      width: 25%;
    }
  }
}
