@import "../vars.scss";

.contacts {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  .box{
    display: flex;
    padding: 0.5rem 1rem;
    flex: 1;
    .icon{
      color: $carrot;
      font-size: 1.5rem;
      cursor: pointer;
    }
    p{
      padding-left: 1rem;
    }
  } 
}
