@import "../App/vars.scss";

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .box{
    display: flex;
    padding: 0.25rem 0.5rem;
    width: 100%;
    transition: all 200ms linear;
    p {
      padding-left: 0.5rem;
    }
  }
  .box:hover{
    background-color: $grey;
    color: inherit;
    border-radius: 8px;
  }

}
@media (min-width: 576px) {
  .contacts{
    flex-direction: row;
    flex-wrap: wrap;
    .box{
      width: 50%;
    }
  }
}
@media (min-width: 992px) {
  .contacts{
    flex-direction: row;
    .box{
      width: 25%;
    }
  }
}
