@import '../App/vars.scss';

.lang-button{
    width: 120px;
    // border-radius: 5px;
    color: $text-light;
    .switcher-box{
        display: flex;
        justify-content: space-between;
        .switcher{
            width: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            font-weight: 700;
            color: $text-light;

        }
        .active{
            // color: $green;
            text-shadow:  0 0 5px $green, 0 0 10px $green, 0 0 15px $green, 0 0 20px $green, 0 0 25px $green, 0 0 30px $green;
            transition: color 200ms linear 100ms;
            border-bottom: 2px solid $green;

        }
    }
}
@media (min-width: 576px) {
    .lang-button{
        position: relative;
        left: 0;
        margin-right: 1rem;
        margin-left: 1rem;
    }
}

