@import '../App/vars.scss';

.slider{
    overflow: hidden;
    position: relative;
    margin-top: 1rem;
    display: flex;
    width: 100%;
    height: 100%;
    border: 3px solid green;
}
// === SliderTools ===
.slider-tools{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 10;
    .message-wraper{
        min-width: 100%;
        padding: 1rem;
        .message{
            text-align: center;
            font-size: 2rem;
            color: blue;
            font-weight: 600;
        }
    }
    .progress{
        display: flex;
        justify-content: center;
        padding: 1rem 0;
        .circle{
            margin: 0 0.5rem;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 3px solid red;
        }
    }
    
}
//  === SliderGallery ===
.gallery{
    overflow: hidden;
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    .prev-slide{
        img{
            width: 100%;
            height: auto;
        }
    }
    .next-slide{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        animation: slide 2s linear 2s 1 forwards;
        img{
            width: 100%;
            height: auto;
        }
    }
}
@keyframes slide {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}
